<!DOCTYPE html>
<html>
<head>
  <title>MalTrack</title>
  <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>

<body>
  <h1>- MalTrack -</h1>
  <%= partial :welcome %>
  <%= partial :flash %>
  <%= yield %>
</body>
</html>
